
<section class="card">
  
    <div class="card-body">
        <h1>Información</h1>
       
        
        <p><h6>El nombre de la plataforma es:</h6> <small>{{resultado1}}</small> </p>
         <p><h6>La Version de Node.js es:</h6> <small> {{resultado2}} </small></p>
        <p><h6>Memoria Total reservada (rss) :</h6> <small>{{resultado3}} </small></p>
        <p><h6>Path de ejecución:</h6> <small>{{resultado4}}</small></p>
        <p><h6>Process id:</h6> <small>{{resultado5}}</small></p>
        <p><h6>Carpeta del proyecto:</h6> <small>{{resultado6}}</small></p> 
        {{!-- <p><h6>Número de Procesadores:</h6> <small>{{resultado7}}</small></p> --}}
      
    </div>


</section>
